{% extends 'blog/base.html' %}

{% block content %}

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 fst-italic">Building a Blogging Application using Python in Django</h1>
      <p class="lead my-3">
        The project looks into how you can build a blogging platform for users to sign up and create their own blogs. 
        It can be a good start for one to develop a platform for their user community to share ideas. This will allow 
        an organization to have an interactive way for allowing their users to share their ideas and thoughts or can 
        also be developed further to a social media page or platform that allows users to post their thoughts.  
      </p>
    </div>
  </div>

    <h3 class="pb-4 mb-4 fst-italic border-bottom text-center">
        Where to Start
      </h3>

    <div class="row mb-2">
        <div class="col-md-4">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 1</strong>
              <h3 class="mb-1">Registration</h3>
              <ul>
              <li>Click on "Register" menu</li>
              <li>Enter user name</li>
              <li>Enter email</li>
              <li>Enter password</li>
              <li>Enter password confirmation</li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 2</strong>
              <h3 class="mb-1">Post Content</h3>
              <ul>
                <li>Log into the application</li>
                <li>Click on "New Post" menu</li>
                <li>Enter post title</li>
                <li>Enter post content</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Step 3</strong>
          <h3 class="mb-1">Update Post Content</h3>
          <ul>
            <li>Log into the application</li>
            <li>Select the post you want to update</li>
            <li>If you are the author of the post, you will see the "Update" and "Delete" buttons</li>
          </ul>
        </div>
      </div>
    </div>
    </div>

<div class="row">
    <div class="col-md-12">
      <article class="blog-post">
        <h3 class="pb-4 pt-4 mb-4 mt-4 fst-italic border-bottom border-top text-center">Other Features</h3>
        <p>Below are other functionalities that can be done in the system:</p>
        <ul>
          <li>A user can log in by clicking on the "Log In" button</li>
          <li>Click on the username of a user's pecific post to view all of their posts</li>
          <li>Click on your own specific posts if you want to edit or delete them</li>
        </ul>
      </article>

    </div>

  </div><!-- /.row -->
  <br>
  <br>

</main>


{% endblock content%}