{% extends 'blog/base.html' %}

{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            {% if post.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog-update' post.pk %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog-delete' post.pk %}">Delete</a>
                </div>
            {% endif %}
        </div>
        <h2>{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
{% endblock content%}