{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>You have been logged out</h2>
    <div class="content-section">
        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'login' %}" class="ml-2">Log In Again</a>
            </small>
        </div>
    </div>
{% endblock content%}